.landing   
{
  background-image: linear-gradient(rgba(27, 50, 55, 0.5), rgba(27, 50, 55, 0.8)),
    url('bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; /* Replace with your image path */
}

.navbar-nav .nav-link {
  color: #fff;
}

.navbar-nav .nav-link:hover {
  color: #1abc9c;
}
.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
}
.navbar-brand:hover {
  color: #1abc9c;
}

.col-sm-6 d-flex flex-column justify-content-center {
  color: white;
  justify-content: center;
   

}
.col-sm-6.d-flex.flex-column.justify-content-center h1 {
  font-size: 3rem;
  font-weight: bold;
}
.col-sm-6.d-flex.flex-column.justify-content-center p {
  font-size:rem;
 
}
.d-flex {
  display: flex;
}

.d-flex a:hover {
  color: #1abc9c;
}


.col-sm-6 h1 {
  font-size: 2rem;
  font-weight: bold;
    margin-top: 20px;
}
.col-sm-6 p {
  font-size: 1rem;
    margin-top: 20px;
}

.buttons a {
margin-top: 20px;
  border-radius: 30px;
    padding: 10px 20px;
    background-color: #1abc9c;
    color: #fff;
}


.services {
    background-color: #f6f6f5; /* Light gray background */
    color: #333;
  }
  
  .services h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 3rem;
  }
  
  .service-card {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .service-card i {
    color: #198754;
  }
  
  .service-card h3 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  
  .service-card p {
    font-size: 1rem;
  }
    .service-card:hover {
        transform: scale(1.05);
        transition: transform 0.3s;
    }
  
.col-sm-6 {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}
  
 .skills {
   
    color: #333;
  }
  
  .skills h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 3rem;
  }
  
  .skill-progress {
    margin-bottom: 10px;
    margin-top: 40px;
  }
  
  .skill-progress .progress {
    height: 20px;
    border-radius: 15px;
  }
  
  .skill-progress .progress-bar {
    background-color: #198754;
  }
  
  .skill-progress h4 {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }
  .skills p {
    font-size: 1rem;
    margin-top: 6rem;
    margin-bottom: -20px;
  }
  .col-sm-6 h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: -3px;
  }

.blog{
    color: #000000;
    background-color: #f6f6f5; /* Light gray background */
}
.blog i{
    color: #198754;
}

.success-work{
    background-color: #f6f6f5; /* Light gray background */
    color: #333;
}
.col-md-4 img {
    border: #000000;
    border-radius: 110px;
}
.contact {
    background-color: #061e24; /* Light gray background */
    color: #333;
    margin-top: 20vh;
}
.contact h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 3rem;
    
}
.footer{
    background-color: #02191e;
    color: #fff; 
}
.social-links {
    display: flex;

    gap: 20px;
}
.UI{
    font-size: 2.5rem;
    color: #198754;
    margin-right: 20px;
}
.UI i:hover{
    color: #198754;
}
.clogo i{
    margin-right: 20px;
}
.clogo i:hover{
    color: #198754;
}
.clogo{
    font-size: 1.5rem;
}

.white{
    color: #ffffff;
}
.t-left{
    padding-left: 3rem;

}
.skill-card h5{
    margin-left: .5rem;
}

